body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(65, 65, 65);
}

button {
    margin-left: 5px;
    margin-top: 6px;
}

h1 {
    display: inline;
    font-family: Impact, sans-serif;
    letter-spacing: 3px;
    font-size: 3.3em;
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

h2 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    letter-spacing: 3px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
}

header {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

thead {
    background: #2b2b2b;
}

td {
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.bg-unDone {
    background-color: #07509e;
}

.bg-unDone:hover {
    background-color: #007bff4d;
}

.bg-done {
    background-color: #343a40;
}

.bg-clear {
    background-color: #2b2b2b00;
}

.bg-done:hover {
    background-color: #474e55;
}

.th {
    color: rgba(255, 255, 255, 0.50);
}

.container {
    width: 375px;
    min-height: 667px;
}

.itemDateStampTrue {
    font-size: .75em;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.39);
    padding: 0px, 2px, 0px, 2px;
}

.itemDateStampFalse {
    font-size: .75em;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgba(255, 255, 255, 0.75);
    padding: 0px, 2px, 0px, 2px;
}

.itemDetailTrue {
    font-size: 1.55em;
    color: rgba(255, 255, 255, 0.397);
}

.itemDetailFalse {
    font-size: 1.55em;
    color: white;
}

.far {
    font-size: 1.25em;
    padding: 0 auto;
    margin: 0 auto;
}

#submit {
    width: 12%;
}

#newItems {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#inputArea {
    height: calc(2.25rem + 2px);
    width: 87%;
    margin-right: 3px;
}

#addTo {
    padding-bottom: 1px;
    margin-bottom: 1px;
}